/* CSS INICIALES */
/* Fuentes y variables */
:root {
    --negro: #000;
    --blanco: #fff;
    --simbolos: rgb(49, 210, 250);
    --igual: rgb(94, 185, 94);
    --reiniciar: red;
    --lector: rgb(100, 99, 99);
    --numeros: gray;
    --bgc: #1e2938;


}

/* Sirve para trabajar con multiplos de 10px */

html {
    box-sizing: border-box;
    font-size: 62.5%;
}


/* Sirve para que se herede el box-sizing a todas las etiquetas  */
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    background-color: rgb(218, 218, 205);
}

.caja {
    text-align: center;
    padding: 2rem;
    height: 13rem;
    width: 40rem;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 20rem;
    background-color: rgb(111, 164, 211);
    border-radius: 2rem;

}

.contador {
    font-size: 10rem;
    color: rgb(34, 14, 160);

}

/* ************************************************************ */


.semaforo {

    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 1rem;

    margin: 10rem auto;
    height: 25rem;
    width: 12rem;
    border-radius: 2rem;
    background-color: gray;
    border: #000 solid;
    padding-top: 0.80rem;
    position: relative;
    top: 2rem;


}

.rojo {
    background-color: rgba(255, 0, 0, 0.425);
    height: 7rem;
    width: 7rem;
    border-radius: 50rem;
    border: #000 solid;
    margin: 0.5rem auto;



}

.amarillo {
    background-color: rgba(255, 255, 0, 0.308);
    height: 7rem;
    width: 7rem;
    border-radius: 50rem;
    margin: 0.5rem auto;
    border: #000 solid;



}

.verde {
    background-color: rgba(0, 128, 0, 0.445);
    height: 7rem;
    width: 7rem;
    border-radius: 50rem;
    margin: 0.5rem auto;
    border: #000 solid;

}